body {
  margin: 0;
  height: 100%;
  width: 100%; }

.container {
  height: 100%; }

#app {
  margin-left: 200px;
  height: 100%; }

/* nav bar */
#nav {
  background: #003355;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  box-sizing: border-box; }

#userimage {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  box-shadow: 0 0 5px #131322;
  -webkit-box-shadow: 0 0 5px #131322;
  -moz-box-shadow: 0 0 5px #131322; }

#usermenu {
  padding: 10px 0px 20px 10px;
  height: 50px; }
  #usermenu a {
    position: absolute;
    left: 80px;
    font-size: 25px;
    color: #131322; }
    #usermenu a :hover {
      color: #0088AA; }

#username {
  position: absolute;
  top: 40px;
  left: 80px;
  font-family: Geneva;
  font-size: 20px;
  font-weight: bold;
  color: white; }

.fa-sign-out {
  position: relative;
  font-size: 30px; }

#topics {
  color: white;
  position: relative; }
  #topics h2 i.fa {
    position: relative;
    padding: 8px 6px 8px 6px;
    font-size: 15px; }
  #topics ul.fa-ul {
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    margin: 0px; }
    #topics ul.fa-ul li {
      padding: 5px; }
      #topics ul.fa-ul li i.fa-li {
        position: relative;
        top: 0px;
        left: -5px; }
      #topics ul.fa-ul li:hover {
        background: #004471;
        cursor: grab; }
      #topics ul.fa-ul li.current {
        background: #0088AA;
        color: white; }
        #topics ul.fa-ul li.current:hover {
          background: #0088AA; }
  #topics i.fa.fa-times-circle {
    position: absolute;
    right: 10px;
    color: #004471;
    font-size: 15px; }
    #topics i.fa.fa-times-circle:hover {
      color: #131322; }

h2 {
  color: white;
  font-family: Geneva;
  font-size: 18px;
  background: #131322; }

h2 span {
  position: relative;
  left: 9px; }

/* end of nav bar; beginning of content. */
#content {
  left: 200px;
  width: 100%;
  height: 100%; }

#header {
  background: #131322;
  position: fixed;
  top: 0;
  left: 200px;
  height: 30px;
  width: 100%;
  padding: 10px 0px 0px 12px;
  font-size: 23px;
  color: white; }
  #header span#topic-users {
    position: fixed;
    font-size: 15px;
    right: 0px; }
    #header span#topic-users:hover {
      color: #0090DD; }
    #header span#topic-users ul {
      position: fixed;
      right: 0px; }

#body {
  position: fixed;
  top: 40px;
  right: 0px;
  left: 200px;
  bottom: 100px; }

ul#message-list {
  position: absolute;
  overflow: auto;
  padding: 5px 0px 0px 0px;
  margin: 0;
  height: 100%;
  width: 100%; }

.message {
  position: relative; }

a.avatar {
  position: relative;
  top: 0px;
  left: 10px; }

a.avatar img {
  width: 28px;
  height: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 0 0 1px #FFFFBB;
  -webkit-box-shadow: 0 0 1px #FFFFBB;
  -moz-box-shadow: 0 0 1px #FFFFBB; }

.message-body {
  position: relative;
  top: -40px;
  left: 40px;
  width: 90%; }

a.username {
  color: #131322;
  font-family: Helvetica;
  font-size: 18px; }

span.time {
  color: #ccc;
  padding: 5px;
  font-family: Helvetica;
  font-size: 12px; }

span.text {
  position: relative;
  width: 100%;
  top: -15px;
  color: #440310;
  font-family: Serif;
  font-size: 15px;
  display: block; }

i.fa.fa-times {
  position: absolute;
  top: 8px;
  right: 0px;
  color: #ccc;
  cursor: pointer; }

i.fa.fa-times:hover {
  color: #004471; }

#footer {
  position: fixed;
  bottom: 0px;
  left: 200px;
  height: 50px;
  width: 100%;
  margin: 0px; }

#message {
  top: 10px;
  left: 100px; }

/*# sourceMappingURL=style.css.map */
