body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
}

#app {
    margin-left: 200px;
    height: 100%;
}

/* nav bar */

#nav {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100%;
}

#userimage {
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 1);
}

#usermenu {
    top: 0;
    height: 50px;
}

#usermenu a {
    position: absolute;
    top: 0px;
    left: 80px;
    font-size: 25px;
    color: rgba(0, 0, 0, .4);
}

#username {
    position: absolute;
    top: 35px;
    left: 80px;
    font-family: Geneva;
    font-size: 20px;
    color: rgba(0, 0, 0, .6);
    text-shadow: 0px 1px 1px grey;
}

fa-sign-out {
    position: relative;
    top: -120px;
    left: 110px;
    font-size: 30px;

}

fa-sign-out:hover {
    color: grey;
}

#chats {
    border-top: solid;
    border-width: 1px;
    color: grey;
    position: relative;
    top: 20px;
}

h2 {
    color: rgba(0, 0, 0, .6);
    font-family: Geneva;
    font-size: 18px;
}

/* end of nav bar; beginning of content. */

#content {
    left: 200px;
    width: 100%;
    height: 100%;   
}

#header {
    position: fixed;
    top: 0;
    left: 200px;
    height: 100px;
    padding: 10px;
}

#body {
    position: fixed;
    top: 100px;
    right: 0px;
    left: 200px;
    bottom: 100px;
}

ul#message-list {
    position: absolute;
    overflow: auto;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.message {
    position: relative;
}

a.avatar {
    position: relative;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
}

a.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .6);

}

.message-body {
    position: relative;
    top: -40px;
    left: 36px;
    width: 80%;
}

a.username {   
    color: black;
    font-family: Helvetica;
    font-size: 18px;
}

span.time {
    color: grey;
    padding: 5px;
    font-family: Helvetica;
    font-size: 12px;
}

span.text {
    position: relative;
    width: 90%;
    top: -15px;
    color: rgba(68,3,16,1);
    font-family: Serif;
    font-size: 15px;
    display: block;
}

i.fa.fa-times {
    position: absolute;
    top: 8px;
    right: 0px;
    color: #ccc;
    cursor: pointer;
}

i.fa.fa-times:hover {
    color: grey;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 200px;
    height: 50px;
    width: 100%;
    margin: 0px;
}

#message {
    top: 10px;
    left: 100px;
}

/* about fonts:[css].classname {
color: #333333;
font-family: Tahoma, Geneva, sans-serif;
}[/css] */ 

